/**
 * Methods module for Surfgram Telegram Bot SDK
 * @module methods
 */

import { Bot } from '../../core';
import { snakeToCamel } from '../../core/utils';
import * as Interfaces from '../interfaces';

{% for method in methods %}
export { {{ method.name }} } from './{{ method.name }}';
{% endfor %}
