name: Format

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Setup
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
      
      - run: npm ci
      
      - run: npm run format
      
      - name: Commit if changed
        run: |
          git add .
          if git diff --staged --quiet; then
            echo "No changes"
          else
            git commit -m "style: format with prettier [skip ci]"
            git push
          fi